apiVersion: cert-manager.io/v1
kind: Issuer
metadata:  
  name: letsencrypt
spec:
  acme:
    email: douglas.picolotto@eximia.co
    privateKeySecretRef:
      name: letsencrypt-private-key
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    - http01:
        ingress:
          ingressClassName: nginx