/* Card Hover Effect */
.icon-card:hover {
    transform: scale(1.05);  /* Scale up slightly on hover */
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
    /* background-color: var(--bs-dark) !important;  */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);  /* Increase shadow on hover */
}

/* General Card Hover Effect */
.card-hover:hover {
    transform: scale(1.05);
    background-color: var(--bs-dark) !important;  /* Use Bootstrap variable for dark gray */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Card Image Hover Effect */
.card-hover:hover img {
    filter: grayscale(0%);
    transition: filter 0.5s;
}

/* Card Image Grayscale Effect */
.card-hover img {
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.fixed-width-table .numeric-cell-3 {
    width: 4.2%;
    text-align: center;
}

.fixed-width-table .numeric-cell-2 {
    width: 6.3%;
    text-align: center;
}

.fixed-width-table .numeric-cell-1 {
    width: 12.6%;
    text-align: center;
}

.fixed-width-table th, .fixed-width-table td {
    white-space: nowrap;
}

/* restyle radio items */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}