requests
Flask
flask_session
pandas
cachetools
matplotlib
dash
dash-bootstrap-components
dash_bootstrap_templates
dash_auth
authlib
python-dotenv
humanize
dash-ag-grid
pydantic
pytz
unidecode
validators
markdown